@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*
{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    border: 0;
    box-sizing: border-box;
}
:root
{
	--main-font: 'Poppins', sans-serif;
	--heading-font-color: #242f51;
	--normal-font-color: #616368;
}
/* General */

ul li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
}
body { background-color: #fcfdfd;}

.container { max-width: 1170px; width: 100%; margin: 0 auto; padding: 0 40px;z-index: 12;}

/* nav bar */
header { background-color: #fcfdfd; padding-top: 110px;}
header .nav { display: flex; align-items: baseline; justify-content: space-between; }
header .nav .logo { font-family: var(--main-font); font-size: 30px; font-weight: bold;}
header .nav .logo .app{ color: #fcae61;}
header .nav .nav-banner{ display: flex; justify-content: center; align-items: center;}
header .nav .nav-list { display: flex; font-family: var(--main-font); }
header .nav .nav-list .list-item{ margin-right: 35px; }
header .nav .nav-list .list-item a{ font-size: 1rem; color: #59617b; }
header .nav .nav-banner .btn{width: 170px; height: 57px; border-radius: 29px; line-height: 44px;background-color: #2500f9; font-family: var(--main-font); font-size: 1rem; font-weight: bold; color: #ffffff; } 
/* End of nav bar */

/* section */
.hero  { display: flex; justify-content: space-between; align-items: center; padding-top: 100px; }
.hero .section1 { display: flex; flex-direction: column; }/*justify-content: flex-start;}*/
.hero .section1 .logo{ padding: 10px 0; }
.hero .section1 .newsection .heading-box{ width: 513px; height: 138px;}
.hero .section1 .newsection .heading{ font-family: var(--main-font); font-size: 3rem; font-weight: 700; color: var(--heading-font-color); padding-bottom: 25px;line-height: 65px;}
.hero .section1 .newsection .sub-heading-box { width: 481px; height: 47px; }
.hero .section1 .newsection .sub-heading-box .subheading { font-family: var(--main-font); font-size: 16px; color: var(--normal-font-color); }
.hero .section1 .newsection .btn-link { display: flex; align-items: center; padding-top: 40px;}
.hero .section1 .newsection .btn-link .btn{width: 170px; height: 57px; border-radius: 29px; line-height: 44px; background-color: #2500f9; font-family: var(--main-font); font-size: 1rem; font-weight: bold; color: #ffffff; margin-right: 25px;}
.hero .section1 .newsection .btn-link .video-link { font-family: var(--main-font); font-size: 1rem; color: blue;}
header .layer5 { display: flex; align-items: center; justify-content: center; transform: translateY(-75%); z-index: 0;background-image: url('images/Layer\ 5.png') cover no-repeat, linear-gradient(to right,  rgba(0,0,0,0.5), rgba(0,0,0,0.5));}
/* end of section */
